@charset "UTF-8";

body{
	background-color: lightblue;
}

/* Exercicios */

h2 {
	color: #2c3e50;
}
label {
	display: block;
	margin-bottom: 10px;
}
.question {
	margin: 20px 0;
}
/*
#vt{
	position: absolute;
	left: 34%;
	width: 10%;
	height: 10%;
}*/

.error {
	color: red;
}
.correct {
	color: green;
}
button {
	background-color: #2980b9;
	color: white;
	padding: 10px;
	border: none;
	cursor: pointer;
}
button:hover {
	background-color: #3498db;
}


/* ------- FIM ----*/
.principal {
	/*width: 900px;*/
	width: 70%;
	background-color: LIGHTYELLOW ;
	margin : 2px auto 2px auto;
    /*color : Darkblue;*/
	padding : 10px;
}

p{
	text-align: justify;
	text-indent: 50px;
	padding: 2px;
}

#message {
	font-family: Arial, sans-serif;
	font-size: 16px;
	z-index: 4;
	margin-bottom: 20px;
	background-color: rgba(231, 229, 229, 0.74);
	position: relative;
	top: 61%;
	color: #141413;
}

#msg4 {
	font-family: Arial, sans-serif;
	font-size: 16px;
	z-index: 4;
	margin-bottom: 20px;
	background-color: rgba(231, 229, 229, 0.74);
	position: relative;
	top: 71%;
	color: #141413;
}
#ti{
	font-size: 20px;
	color: green;
	font-weight: bold;
	
}

#tx2, #tc    {
	font-family: Arial, sans-serif;
	font-size: 16px;
	margin-bottom: 20px;
	background-color: rgba(231, 229, 229, 0.74);
	position: relative;
	top: 43%;
	color: #141413;
}

#tc {
	font-family: Arial, sans-serif;
	font-size: 16px;
	margin-bottom: 20px;
	background-color: rgba(231, 229, 229, 0.74);
	position: relative;
	top: 2%;
	color: #141413;
}

#tx7, #ms1, #ms2, #ms3  {
	font-family: Arial, sans-serif;
	font-size: 16px;
	margin-bottom: 40px;
	background-color: rgba(231, 229, 229, 0.74);
	position: relative;
	top: 71%;
	color: #141413;
}


/* Cenário 1*/
#constante{
	color:#9e30309d;
	font-size: medium;
	
}
#t1, #t2, #t3, #t4, #t5, #t6{
	position: relative;
	top: 11%;
	opacity: 0;
	color: #141413;
	background-color: rgba(231, 229, 229, 0.74);
	padding: 10px;
	box-sizing: border-box;
}

#t1:hover,#t2:hover, #t3:hover, #t4:hover, #t5:hover, #t6:hover{
	opacity: 1;


}

#pt1,#pt2,#pt3,#pt4,#pt5,#pt6, #ps1,#ps2,#ps3,#ps4,#ps5,#ps6, #rs1, #tt1, #tt2, #tt3, #tt4, #tt5, #tt6, #rt1, #rt2, #rt3, #rt4, #rt5, #rt6,#st1,#st2,#st3,#st4,#st5,#st6, #ps3{
	position: absolute; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
	color: white;
	 font-size: 20px; 
	 display: none; 
	 background-color: rgba(0, 0, 0, 0.5); 
	 padding: 10px; 
	 border-radius: 5px;
}


/*botão play
figure {
	border: 8px solid white;
	box-shadow: 1px 1px 5px black;
	/*position: relative;
}

figcaption {
	opacity: 0;
	/*position: absolute;
	top:0px;
	background-color: rgba(0,0,0,.4);
	/*height: 10%;
	width: 10%;
	color:white;
	padding: 10px;
	box-sizing: border-box;
}

figure img{
	/*height: 10px;
	width: 10px;
}

figcaption:hover{
	opacity: 1;
}
*/

#c1,#c3{
	color: #141413;

}

/*
/* Botão play on hover*/
/*
#playText {
	position: relative;
	display: inline-block;
}

#playText:hover .Textplay1{
	display: block;

}
.Textplay1{
	display: none;
	position: absolute;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	border-radius: 5px;
}
*/

rodape{
	position:relative;
	margin: auto;
  width: 50%;
 
  padding: 10px;
  display:inline-block;
	
}


/* ---------------- --Formatação de text area*/
.editor-container {
	display: flex;
	}
	.line-numbers {
		position: relative;

	padding: 10px;
	background-color: #f0f0f0;
	text-align: right;
	user-select: none;
	right: 20%;
	}
	.line-numbers div {
	height: 20px;
	}
	textarea {
		position: relative;
	width: 200px;
	height: 200px;
	padding: 10px;
	border: 1px solid #ccc;
	font-family: monospace;
	resize: none;
	right: 20%;
	}

	#highlightedCode {
		white-space: pre-wrap;
		background-color: blac #f0f0f0;
		padding: 10px;
		border: 1px solid #ccc;
		margin-top: 10px;
		}

		.inputq {
			width: 200px;

		}

/* ------------------------------------- Fim */
/* Formataçáão do cabeçalho */
#cabecalho {
	background-color: white;
	padding: 10px;
	width: 	98%;
	height: 100px;

}

h2#slogan{
	float: left;
	padding: 	10px;
}

#logo {
	float:left;
	height: 100px;
}

#placa0 {
	float: left;
	position: relative;
	width: 130%;
	height: 120%;
	/*padding: 2px;*/
	right: 20%;
		
}

#placa002, #placa02, #placa04, #placa05,#placa005{
	float: left;
	position: relative;
	width: 125%;
	height: 115%;
	/*padding: 2px;*/
	right: 24%;
		
}

#texto4{
	position: absolute;
	top:71%;
	z-index: 1;
}

#placap, #placa10, #placa03,#placa003 {
	float: left;
	position: relative;
	width: 160%;
	height: 215%;
	/*padding: 2px;*/
	right: 60%;
		
}

/*.placa {
	float: left;
	position: relative;
	width: 110%;
	height: 100%;
	padding: 2px;
	left:10%;
		
}*/

/* menu*/



#menu {
	float: right; 
	/*width: 180px;*/
	width: 25%;
	margin-top: 10px;
	padding: 2px;
	float: 	left;	
	background-color: lightyellow;
}

#menu ul{
	list-style: none;
	/*text-transform: uppercase;*/
}

#menu li{
		display: inline-block;
		background-color: #dddddd;

}

#menu li:hover{
	background-color: #606060;

}

a, a:link, a:visited { 
	color: darkblue; 
	text-decoration: none; 
}

a:hover { 
	text-decoration: underline; 
}




/* Formataçáão do article*/

/*
figure {
	border: 8px solid white;
	box-shadow: 1px 1px 5px black;
	position: relative;
}

figcaption {
	opacity: 0;
	position: absolute;
	top:0px;
	background-color: rgba(0,0,0,.4);
	height: 100%;
	width: 90%;
	color:white;
	padding: 10px;
	box-sizing: border-box;
}

figure img{
	height: 100%;
	width: 100%;
}

figcaption:hover{
	opacity: 1;
}
*/

/*NO MEIO*/
.principal #artigo  {
	background-image: url(/Ensino003/img/fundo.png);
	background-size: 100% 100%;
	/*display: block;
	
	/*background-color: white;*/
	width: 70%;
	height: 300px;
	
	/*width: 400px;*/
	float: 	left;
	padding: 10px;	
	/*border: 8px solid white;
	box-shadow: 1px 1px 5px black;*/

}




/*Conteudo lateral
 #lateral {
	/*width:300px;
	width: 20%;
	background-color: white; 
	float: right;
	height: 100%;
	padding: 10px;

}*/
#poupanca{
	position:absolute;
	left: 19%;
	top: 56%;
}
/*Animação do botão do código*/
#code1.highlight {
    background-color: lightgreen;
    animation-name: example;
    animation-duration: 20s;
}

@keyframes example {
    0%   {background-color: lightgreen;}
    10%  {background-color: lightyellow;}
    20%  {background-color: lightgreen;}
    30%  {background-color: lightyellow;}
    40%  {background-color: lightgreen;}
    50%  {background-color: lightyellow;}
    60%  {background-color: lightgreen;}
    70%  {background-color: lightyellow;}
    80%  {background-color: lightgreen;}
    90%  {background-color: lightyellow;}
    100% {background-color: lightgreen;}
}

/*/formatação de pseudocódigo*/
#aselecao{
	color: #500202;
	position: relative; 
	top: 10%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
	/*color: white;*/
	font-size: 15px; 
	font-family:Courier New;
	font-weight: bold;
	display: none; 
	background-color: rgba(231, 229, 229, 0.74);
	padding: 10px; 
	border-radius: 5px;

}
/*------------------ estilo imagem da mesa estrutura compposta -----------*/



#play1,#play2,#play3,#play4,#play5,#play6,#play7, #stop,#replay, #replay1,#replay2,#replay3,#replay4,#replay5,#replay6,#replay7, #stop1, #sound, #sound1, #sound2, #sound3, #sound4, #sound5, #sound6,#sound7, #code, #code1, #code2, #code3,#code4,#code5,#code6,#code7, #replay1, #text,#text1,#text2,#text3,#text4,#text5,#text6,#text7 {
	clear: 	both;
/*	float: left;*/
	display:inline; /* the default for span */
  	width: 50px;
  	height: 50px;
    padding: 10px;

}

/* Rodape*/
#rodape{
	position:relative;
	margin: auto;
    width: 50%;
    padding: 10px;
	
}



:root {
	--primary-color: green;
  }

  
  
  *,
  *::before,
  *::after {
	box-sizing: border-box;
  }
  
  body {
	font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	display: grid;
	place-items: center;
	min-height: 100vh;
  }
  /* Global Stylings */
  label {
	display: block;
	margin-bottom: 0.5rem;
  }
  
  input {
	display: block;
	width: 100%;
	padding: 0.75rem;
	border: 1px solid #ccc;
	border-radius: 0.25rem;
  }
  
  .width-50 {
	width: 50%;
  }
  
  .ml-auto {
	margin-left: auto;
  }
  
  .text-center {
	text-align: center;
  }
  
  /* Progressbar */
  .progressbar {
	position: relative;
	display: flex;
	justify-content: space-between;
	counter-reset: step;
	margin: 2rem 0 4rem;
  }
  
  .progressbar::before,
  .progress {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 4px;
	width: 100%;
	background-color: #dcdcdc;
	z-index: -1;
  }
  
  .progress {
	background-color: var(--primary-color);
	width: 0%;
	transition: 0.3s;
  }
  
  .progress-step {
	width: 2.1875rem;
	height: 2.1875rem;
	background-color: #dcdcdc;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .progress-step::before {
	counter-increment: step;
	content: counter(step);
  }
  
  .progress-step::after {
	content: attr(data-title);
	position: absolute;
	top: calc(100% + 0.5rem);
	font-size: 0.85rem;
	color: #666;
  }
  
  .progress-step-active {
	background-color: var(--primary-color);
	color: #f3f3f3;
  }
  
  /* Form */
  .form {
	width: clamp(320px, 30%, 430px);
	margin: 0 auto;
	border: 1px solid #ccc;
	border-radius: 0.35rem;
	padding: 1.5rem;
  }
  
  .form-step {
	display: none;
	transform-origin: top;
	animation: animate 0.5s;
  }
  
  .form-step-active {
	display: block;
  }
  
  .input-group {
	margin: 2rem 0;
  }
  
  @keyframes animate {
	from {
	  transform: scale(1, 0);
	  opacity: 0;
	}
	to {
	  transform: scale(1, 1);
	  opacity: 1;
	}
  }
  
  /* Button */
  .btns-group {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.5rem;
	
  }
  
  .btn {
	padding: 0.75rem;
	display: block;
	text-decoration: none;
	background-color: var(--primary-color);
	color: #f3f3f3;
	text-align: center;
	border-radius: 0.25rem;
	cursor: pointer;
	transition: 0.3s;
	
  }
  .btn:hover {
	box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
  }


  .pcod {
	color: #bd2d2d;
	position: relative; 
	top: 70%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
	/*color: white;*/
	 font-size: 14px;  
	 display: none; 
	 background-color: rgba(231, 229, 229, 0.74);
	 padding: 10px; 
	 border-radius: 5px;

  }